

#mainDiv {
    margin-top: 30px;
}

footer {
  position: fixed;
  bottom: 0px;
  background: #eee;
  padding: 10px 0;
  height: 55px;
}

#massageDiv {
  position: absolute;
  bottom: 55px;
  height: 250px;
  overflow: auto;
}
